{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["debug", "error"] }],
    "no-unused-vars": 1,
    "react/prop-types": 0
  }
}
