.m-admin {
  display: flex;
  align-items: stretch;
  .container {
    width: 100%;
    min-height: 300px;
    margin: 0 0 0 10px;
    .breadcrumb{
      color: #EEE;
    }
    .content{
      min-height: 400px;
      background: #EEE;
      margin-top: 10px;
    }
  }
}