<form nz-form [formGroup]="validateForm" class="regist-form" (ngSubmit)="_submitForm()">
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="confirm" [nzType]="'password'" [nzPlaceHolder]="'Confirm Password'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.confirm.dirty&&validateForm.controls.confirm.hasError('required')">Confirm your Password!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <button nz-button class="regist-form-button" [nzType]="'primary'" [nzSize]="'large'">Regist</button>
      <p>已有账号？<a routerLink="/login">点击登陆</a></p>
    </div>
  </div>
</form>