<ul nz-menu [nzMode]="'inline'" style="width: 240px;">
  <li nz-submenu>
    <span title><i class="anticon anticon-mail"></i>基础配置</span>
    <ul>
      <li nz-menu-group>
        <span title>节点管理</span>
        <ul>
          <li nz-menu-item>节点列表</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>算法管理</span>
        <ul>
          <li nz-menu-item>基础算法</li>
          <li nz-menu-item>扩展算法</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-appstore"></i>运营配置</span>
    <ul>
      <li nz-menu-item>用户列表</li>
      <li nz-submenu>
        <span title>文章资料</span>
        <ul>
          <li nz-menu-item>文章管理</li>
          <li nz-menu-item>标签管理</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-setting"></i>统计数据</span>
    <ul>
      <li nz-menu-item>插件配置</li>
      <li nz-submenu>
        <span title>事件统计</span>
        <ul>
          <li nz-menu-item>系统重启</li>
          <li nz-menu-item>错误日志</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-setting"></i>系统管理</span>
    <ul>
      <li nz-menu-item>字典管理</li>
      <li nz-menu-item>系统参数</li>
    </ul>
  </li>
</ul>
